body,html {
  background-color: #fff;
  color: #777;
  font: normal 12px monospace;
}

input {
  width: 100%;
  outline: none;
  padding: 2px 7px;
  margin: 0px 0px 5px;
  border: 1px solid #ddd;
}

input:focus, textarea:focus {
  box-shadow: 0 0 5px #aaa;
  border: 1px solid #aaa;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #ddd;
}

nav li {
  float: right;
}

nav li a,b {
  display: block;
  color: #333;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  transition: .3s background-color;
}

nav li a:hover {
    background-color: #ccc;
}
