<ul class="sg-colors">
  <li>
    <span class="sg-swatch" style="background: #f2f2f2;"></span>
    <span class="sg-label">
      $color-background <br />
      #f2f2f2
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #000000;"></span>
    <span class="sg-label">
      $color-foreground <br />
      #000000
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #dddddd;"></span>
    <span class="sg-label">
      $color-focus <br />
      #dddddd
    </span>
  </li>
  <li>
    <span class="sg-swatch" style="background: #bbbbbb;"></span>
    <span class="sg-label">
      $color-shadow <br />
      #bbbbbb
    </span>
  </li>
</ul>
